/* Mobile First Approach*/
.search-form {
    border-radius: .7rem;
    background-color: whitesmoke;
    padding: 3rem 3rem;
    margin-top: -15rem;
    position: relative;
}

.search-title {
    font-size: .75rem;
}

.search-location {
    font-weight: 600;
    font-size: 1.5rem;
}

.booking-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-direction: column;
    position: relative;
}

.booking-detail {
    display: grid;
    gap: 1.5rem;
    width: 100%;
}

.detail {
    display: flex;
    align-items: center;
    gap: .75rem;
    outline: 1px solid black;
    border-radius: 2rem;
    padding: .8rem;
    margin-inline: auto;
}

.date {
    position: absolute;
    top: 250px;
    z-index: 50;
    margin-left: -4rem;
}

.guest {
    position: absolute;
    top: 350px;
    z-index: 10;
    width: 95%;
    margin-top: 1rem;
    display: grid;
    row-gap: 1rem;
    padding: 1rem;
    background-color: lightgray;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.option-counter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input {
    border: none;
    outline: none;
    background-color: transparent;
}

.search-btn {
    background-color: black;
    color: azure;
    width: 150px;
    height: 40px;
    cursor: pointer;
    margin-top: 3rem;
}

@media screen and (min-width: 1023px) {
    .search-form {
    }
    .booking-group {
        flex-direction: row;
    }

    .date, .guest {
        position: absolute;
        top: 100px;
        z-index: 10;
        margin: 0 auto;
    }
    .guest {
        width: 25%;
        margin-top: 1rem;
        display: grid;
        row-gap: 1rem;
    }
}