.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  left: 0;
  z-index: 100;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
}

.link {
  text-decoration: none;
}

.nav-logo {
  color: blue;
  font-weight: 600;
  font-style: italic;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links li {
  list-style-type: none;
}

.nav-links a {
  margin: 0 1rem;
  color: black;
  padding: 0.5rem;
  list-style: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
}

.nav-links a:hover {
  border-bottom: 1px solid white;
  transition: 167ms;
}

.btns {
  gap: 10px;
  display: flex;
}

.tickets {
  padding: 0.2rem 1.7rem;
  background: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  color: black;
  transition: 167ms;
  outline: none;
  margin-right: 0.4rem;
  font-size: 1rem;
  font-weight: 700;
}

.cta-btn {
  padding: 0.2rem 1.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: black;
  transition: 167ms;
  font-size: 1rem;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.cta-btn:hover,
.tickets:hover {
  background-color: white;
  color: black;
}

.navbar-smallscreen {
  display: none;
}

.menu {
  font-size: 2rem;
  cursor: pointer;
}

.navbar-smallscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 70vh;
  width: 100%;
  transition: all 0.7s ease-in-out;
  --webkit-transition: all ease 0.5s;
  flex-direction: column;
  z-index: 5;
  background: rgba(225, 225, 225, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav-smallscreen-links {
  margin: 0 auto;
}

.nav-smallscreen-links .overlay-links {
  color: black;
  padding: 2rem;
}

.nav-smallscreen-links .overlay-links:hover {
  border-bottom: 1px solid white;
}

.overlay-close {
  font-size: 2rem;
  color: black;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 25px;
}

.nav-smallscreen-links li {
  list-style-type: none;
}

.nav-smallscreen-links a {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.scroll-header {
  background: rgba(225, 225, 225, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  
}

@media screen and (max-width: 380px) {
  .nav-logo {
    font-size: 1rem;
    width: 100%;
  }
  
  .btns {
    padding-inline: 1.4rem;
    gap: 30px;
  }

  .cta-btn {
    font-size: .75rem;
    width: 100%;
    padding-inline: 1.4rem;
  }

  .tickets {
    font-size: .95rem;
    width: 100% !important;
  }
}

@media screen and (max-width: 720px) {
  .nav-links {
    display: none;
  }

  .tickets,
  .cta-btn {
    padding-inline: 0.75rem;
  }

  .navbar-smallscreen {
    display: flex;
  }
}
